<div class="ui grid">
    <div class="three wide column"></div>
    <div class="ten wide column">

        {{#success}}
            <div class="ui success message">
                <p>{{success}}</p>
            </div>
        {{/success}}
        {{#error}}
            <div class="ui error message">
                <p>{{error}}</p>
            </div>
        {{/error}}
    </div>
</div>