<form method="post" action="/images" enctype="multipart/form-data">
    <input type="text" name="title" required/>
    <input type="file" name="image" accept="image/*"/>
    <input type="submit" value="Save image"/>
</form>