
<h1><a href="/images/create">Create image</a></h1>


<h2>list of image links</h2>
<% images.forEach(function(image) {%>
  <li>
      <a href="/images/<%= image._id%>">
          <%= image.title%>
      </a>
  </li>
<%})%>